@import "tailwindcss";

@plugin "daisyui";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

/* hero video style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero {
  width: 100%;
}
video {
  width: 100%;
  /* height: ; */
  object-fit: cover;
}

/* navbar style */
.navbar {
  /* height: 20px; */
  width: 100%;
  background: transparent;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 999;
  padding:  0 10px;
}
/* list style */
.list {
  padding: 3px 20px;
  /* color: blue; */
  font-weight: bold;
}

.list:hover {
  border-radius: 20px;
  border: 2px solid transparent;
  transition: all 0.7s ease;
  /* white-space: nowrap; */
  color: #162530;
  background: rgba(11, 195, 209, 0.8);
}
.list.active {
  border-radius: 20px;
  border: 2px solid transparent;
  transition: all 0.7s ease;

  color: #162530;
  background: rgba(11, 195, 209, 0.8);
}

/* login btn */
.btn-primary {
  border: none;
  padding: 3px 20px;

  font-weight: 500;

  background: rgba(11, 195, 209, 0.8);
}
.btn-primary:hover {
  border-radius: 20px;
  border: 2px solid transparent;
  transition: all 0.5s ease-in;

  color: #162530;
  background: rgba(11, 195, 209, 0.8);
}

/* navbar */
.contant {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* dropdown links */
.linkss{
  @apply block px-4  text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-[#0bc3d1cc] dark:text-gray-200 dark:hover:text-black
}

